{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags cache %}

{% block content %}
    {% image self.banner_image width-3650 as img %}

    <section class="hero-area bg-primary" id="parallax">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 mx-auto">
                    <h1 class="text-white font-tertiary">{{ self.banner_title }}</h1>
                    {{ self.banner_subtitle }}
                </div>
            </div>
        </div>
        <div class="layer-bg w-100">
            {% if img %}
                <img src="{{img.url}}" alt="bg-shape" class="img-fluid w-100">
            {% endif %}
        </div>
        <!-- social -->
        {% cache 604800 footer %}
        <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
            {% if settings.site_settings.SocialMediaSettings.facebook %}
                <li class="mb-3"><a class="text-white" href="{{ settings.site_settings.SocialMediaSettings.facebook }}"><i class="ti-facebook"></i></a></li>
            {% endif %}
            {% if settings.site_settings.SocialMediaSettings.twitter %}
                <li class="mb-3"><a class="text-white" href="{{ settings.site_settings.SocialMediaSettings.twitter }}"><i class="ti-twitter"></i></a></li>
            {% endif %}
            {% if settings.site_settings.SocialMediaSettings.youtube %}
                <li class="mb-3"><a class="text-white" href="{{ settings.site_settings.SocialMediaSettings.youtube }}"><i class="ti-dribbble"></i></a></li>
            {% endif %}
        </ul>
        {% endcache %}
    </section>

      {% for block in page.content %}
        {% include_block block %}
    {% endfor %}
{% endblock %}