{% load wagtailcore_tags %}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <p class="font-secondary paragraph-lg text-dark">
                    {{ self.text|richtext }}
                </p>
                {% if self.button_page %}
                    <a class="btn btn-transparent" href="{{ self.button_page.url }}">{{ self.button_text }}</a>
                {% elif self.button_url %}
                    <a class="btn btn-transparent" href="{{ self.button_url }}">{{ self.button_text }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>